<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SB_405 Index Page</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<body>
    <div class="container">
        <h2>Insecure Page</h2>
        <a href="/secure">Secure Page</a>

    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:fragment="jsFooter"></div>
    <!-- END JS code -->
</body>
</html>