<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Jobs Form Page</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<style>
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}
</style>
<body>
    <!-- Navigation Bar -->
    <div th:replace="base :: navlinks"></div>
    <!-- End Navigation Bar -->

    <div class="container">
        <!-- Header -->
        <h2>Jobs Form Page</h2>
        <br />
        <!-- End Header -->

        <!-- Process HTML Page -->
        <form th:action="@{/processJob}" th:object="${job}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{postedDate}" />
            <div class="row">
                <div class="col-md-3"><b>Title:</b></div>
                <div class="col-md-9"><label for="title">Title</label><input id="title" type="text" placeholder="Title" th:field="*{title}" /></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3"><b>Posted Date and Time:</b></div>
                <div class="col-md-9"><label for="date">Date</label><input id="date" type="datetime-local" th:field="*{postedDate}" name="postedDate" /></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3"><b>Description:</b></div>
                <div class="col-md-9"><label for="desc">Description</label><textarea id="desc" rows="3" cols="50" th:field="*{description}"></textarea></div>
            </div>
            <br /><br />

            <input type="submit" onclick="alerts()" value="Submit">
        </form>
        <hr>
        <br />
        <div th:replace="base ::logout"></div>
        <!-- End Process HTML Page -->

        <!-- Footer -->
        <div th:replace="base :: footer"></div>
        <!-- End Footer -->
    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:fragment="jsfooter"></div>
        <!-- END JS code -->
</body>
</html>