<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User Login Page</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<style>
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}
</style>
<body>
    <!-- Navigation Bar -->
    <div th:replace="base :: navlinks"></div>
    <!-- End Navigation Bar -->

    <div class="container">
        <!-- Header -->
        <h2>Login Page</h2> <h4>
        <i>Please Sign In</i></h4>
        <br />
        <!-- End Header -->

        <!-- Process HTML Page -->
        <div th:if="${param.error}">Invalid username or password</div>
        <div th:if="${param.logout}">You have been logged out</div>
        <br />
        <form th:action="@{/login}" method="post">
            <div class="row">
                <div class="col-md-2"><b>User Name:</b></div><div class="col-md-10"><input type="text" name="username" autofocus /></div><br />
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"><b>Password:</b></div><div class="col-md-10"><input type="password" name="password" /></div><br />
            </div>
            <br />
            <div class="row">
                <div class="col-md-10"><input type="submit" value="Sign in" /></div>
            </div>
        </form>
        <br /><br />
        <a title="Register" href="/register">New Users, Please register</a>
        <!-- End Process HTML Page-->

        <!-- Footer -->
        <div th:replace="base :: footer"></div>
        <!-- End Footer -->

    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:fragment="jsfooter"></div>
    <!-- END JS code -->
</body>
</html>