<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<body>
    <div class="container">
        <!-- Header -->
        <br />
        <h2>New User Registration</h2>
        <br />
        <!-- End Header -->

        <!-- Process HTML Page-->
        <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post">
            <div class="row">
                <div class="col-md-2"><b>First Name:</b></div>
                <div class="col-md-10"><label><input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}" size="30" /></label></div>
                <strong>
                    <mark>
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
                    </mark>
                </strong>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Last Name:</b></div>
                <div class="col-md-10"><label><input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}" size="30" /></label></div>
                <strong>
                    <mark>
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
                    </mark>
                </strong>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Email:</b></div>
                <div class="col-md-10"><label><input type="text" id="email" placeholder="Email" th:field="*{email}" size="30" /></label></div>
                <strong>
                    <mark>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                    </mark>
                </strong>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Phone Number:</b></div>
                <div class="col-md-10"><label><input type="text" id="phonenumber" placeholder="Phone Number" th:field="*{phoneNumber}" size="30" /></label></div>
                <strong>
                    <mark>
                        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Email Error</span>
                    </mark>
                </strong>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Username:</b></div>
                <div class="col-md-10"><label><input type="text" id="username" placeholder="Username" th:field="*{username}" size="30" /></label></div>
                <strong>
                    <mark>
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
                    </mark>
                </strong>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Password:</b></div>
                <div class="col-md-10"><label><input type="password" id="password" placeholder="Password" th:field="*{password}" size="30" /></label></div>
                <strong>
                    <mark>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                    </mark>
                </strong>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <!-- End Process HTML Page-->

        <!-- Footer -->
        <div th:replace="base :: footer"></div>
        <!-- End Footer -->
    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:fragment="jsFooter"></div>
    <!-- END JS code -->
</body>
</html>