<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Show Page</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<body>
    <!-- Navigation Bar -->
    <div th:replace="base :: navlinks"></div>
    <!-- End Navigation Bar -->

    <div class="container">

        <!-- Header -->
        <h2>Course Details</h2>
        <br />
        <!-- End Header -->

        <!-- Process HTML Page -->
        <div class="row">
            <div class="col-md-2"><b>Title:</b></div><div class="col-md-10"><span th:text="${course.title}"></span></div><br />
        </div>
        <div class="row">
            <div class="col-md-2"><b>Instructor:</b></div><div class="col-md-10"><span th:text="${course.instructor}"></span></div><br />
        </div>
        <div class="row">
            <div class="col-md-2"><b>Description:</b></div><div class="col-md-10"><span th:text="${course.description}"></span></div><br />
        </div>
        <div class="row">
            <div class="col-md-2"><b>Credits:</b></div><div class="col-md-10"><span th:text="${course.credit}"></span></div><br />
        </div>
        <br />
        <div th:replace="base :: logout"></div>
        <!-- End Process HTML Page-->

        <!-- Footer -->
        <div th:replace="base :: footer"></div>
        <!-- End Footer -->
    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:fragment="jsFooter"></div>
    <!-- END JS code -->
</body>
</html>